.flex-container {
  padding: 0;
  margin: 15px;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}

.flex-item {
  background: slategray;
  padding: 5px;
  width: 750px;
  height: 550px;
  margin-top: 10px;
  margin-bottom: 15px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

#mapC {
  height: 500px;
  width: 100%;
  margin-bottom: 15px;
}

#map {
  background: slategray;
  height: 100%;
  width: 100%;
}

#inputs {
  width: 30%;
}


/* Animations */
@keyframes moveIn {
    0% {
      opacity: 0;
      transform: translateY(-.5rem); }
    
    100% {
      opacity: 1;
      transform: translateY(0); } }
