
@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 10px;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}

.flex-item {
  background: slategray;
  padding: 5px;
  width: 750px;
  height: 350px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.inputs{
  margin: auto;
  width: 39%;
  padding: 1px;
}
.button{
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    text-transform: uppercase;
    text-decoration: none;
    outline:none;
    color: black;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: ease-in-out .1s;
}

.button:hover{    
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    transform: scale(1.015);
    transition: ease-in .1s;
}


/* Animations */
@keyframes moveIn {
    0% {
      opacity: 0;
      transform: translateY(-.5rem); }
    
    100% {
      opacity: 1;
      transform: translateY(0); } }
